{% extends "base.html" %}
{% block content %}
<h1>ALL USERS</h1>
{% for user in users %}
    <div><p>username: <b>{{ user.first_name }}</b>  email: <b>{{ user.email }}</b></p></div>

{% endfor %}
{% endblock %}