{% extends "base.html" %}

{% block content %}
        <h1>Профиль пользователя</h1>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Электронная почта: {{ user.email }}</p>
        <form method="post" action="{{ url_for('main.update_profile') }}">
            <label for="first_name">Имя:</label>
            <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
            <label for="last_name">Фамилия:</label>
            <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
            <label for="email">Электронная почта:</label>
            <input type="email" name="email" id="email" value="{{ user.email }}">
            <input type="submit" value="Сохранить">
        </form>
{% endblock %}